<section id="new">
<div class="container">
    <p>YENİLİKLƏRİMİZƏ ABUNƏ OL</p>
    <div class="follow">
         <div class="search-form">
          <form action="">
            <input type="search">
            <button type="submit">   ABUNƏ OL  </button>
          </form>
        </div>
    </div>
   
</div>
</section>