<section id="social-media">
    <div class="container">
        <h2>Sosial mediada paylaş</h2>
        <div class="social-icons">
            <a href="#" class="soc-icon">
                <img src="/src/static/assets/whatsapp.svg" alt="">
            </a>
            <a href="#" class="soc-icon">
                <img src="/src/static/assets/facebook (1).svg" alt="">
            </a>
            <a href="#" class="soc-icon"><img src="/src/static/assets/telegram.svg" alt=""></a>
            <a href="#" class="soc-icon"><img src="/src/static/assets/twitter.svg" alt=""></a>
        </div>
    </div>
</section>