<section id="user-gift">
    <div class="container">
        <h1>Tədbir adı</h1>
        <div class="section-container">
            <div class="user-info">
                <div class="user-img">
                    <img src="/src/static/assets/boy.jpg" alt="">
                </div>
                <p>İmran Tağıyev</p>
                <span>04.06.1990</span>
                <a href="#">Hədiyyə et</a>
            </div>
            <div class="activity-details">
                <div class="myslider owl-carousel owl-theme">
                    <div class="item">
                        <img src="/src/static/assets/rock.jpg">
                    </div>
                    <div class="item">
                        <img src="/src/static/assets/rock.jpg">
                    </div>
                    <div class="item">
                        <img src="/src/static/assets/rock.jpg">
                    </div>
                </div>
                <div class="activity-info">
                    <div><span>Bitmə vaxtı</span>
                        <p>01.06.2019</p>
                    </div>
                    <div><span>Lazım olan məbləğ</span>
                        <p>300 azn</p>
                    </div>
                    <div><span>Toplanan məbləğ</span>
                        <p>110 azn</p>
                    </div>
                    <div><span>Yardım sayı</span>
                        <p>11</p>
                    </div>
                    <div><span>Görüldü</span>
                        <p>15</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>