<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact">
          <p>copyright@2019</p>
          <p>wishx@info.az</p>
          <p>+994 782 83 23</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="sosial-media">
          <div class="media-icon"><svg height="512pt" viewBox="0 0 512 512" width="512pt"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="m297.277344 508.667969c-2.132813.347656-4.273438.667969-6.421875.960937 2.148437-.292968 4.289062-.613281 6.421875-.960937zm0 0" />
              <path
                d="m302.398438 507.792969c-1.019532.1875-2.039063.359375-3.058594.535156 1.019531-.175781 2.039062-.347656 3.058594-.535156zm0 0" />
              <path
                d="m285.136719 510.339844c-2.496094.28125-5.007813.53125-7.527344.742187 2.519531-.210937 5.03125-.460937 7.527344-.742187zm0 0" />
              <path
                d="m290.054688 509.738281c-1.199219.160157-2.40625.308594-3.609376.449219 1.203126-.140625 2.410157-.289062 3.609376-.449219zm0 0" />
              <path
                d="m309.367188 506.410156c-.898438.191406-1.800782.382813-2.703126.566406.902344-.183593 1.804688-.375 2.703126-.566406zm0 0" />
              <path
                d="m326.664062 502.113281c-.726562.207031-1.453124.402344-2.179687.605469.726563-.203125 1.453125-.398438 2.179687-.605469zm0 0" />
              <path
                d="m321.433594 503.542969c-.789063.207031-1.582032.417969-2.375.617187.792968-.199218 1.585937-.40625 2.375-.617187zm0 0" />
              <path
                d="m314.589844 505.253906c-.835938.195313-1.679688.378906-2.523438.566406.84375-.1875 1.6875-.371093 2.523438-.566406zm0 0" />
              <path
                d="m277.527344 511.089844c-1.347656.113281-2.695313.214844-4.046875.304687 1.351562-.089843 2.699219-.191406 4.046875-.304687zm0 0" />
              <path
                d="m512 256c0-141.363281-114.636719-256-256-256s-256 114.636719-256 256 114.636719 256 256 256c1.503906 0 3-.03125 4.5-.058594v-199.285156h-55v-64.097656h55v-47.167969c0-54.703125 33.394531-84.476563 82.191406-84.476563 23.367188 0 43.453125 1.742188 49.308594 2.519532v57.171875h-33.648438c-26.546874 0-31.6875 12.617187-31.6875 31.128906v40.824219h63.476563l-8.273437 64.097656h-55.203126v189.453125c107.003907-30.675781 185.335938-129.257813 185.335938-246.109375zm0 0" />
              <path
                d="m272.914062 511.429688c-2.664062.171874-5.339843.308593-8.023437.398437 2.683594-.089844 5.359375-.226563 8.023437-.398437zm0 0" />
              <path
                d="m264.753906 511.835938c-1.414062.046874-2.832031.082031-4.25.105468 1.417969-.023437 2.835938-.058594 4.25-.105468zm0 0" />
            </svg></div>
          <div class="media-icon">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="34px" height="34px" viewBox="0 0 34 34" style="enable-background:new 0 0 34 34;"
              xml:space="preserve">
              <g>
                <path d="M17,0C7.611,0,0,7.61,0,17c0,9.391,7.611,17,17,17c9.389,0,17-7.609,17-17C34,7.61,26.389,0,17,0z M25.902,13.957
		c0.008,0.171,0.012,0.343,0.012,0.517c0,5.286-4.023,11.383-11.383,11.383c-2.26,0-4.362-0.662-6.133-1.797
		c0.314,0.037,0.632,0.055,0.955,0.055c1.875,0,3.599-0.639,4.968-1.711c-1.75-0.033-3.228-1.189-3.736-2.777
		c0.244,0.046,0.494,0.07,0.752,0.07c0.365,0,0.719-0.049,1.053-0.141c-1.828-0.367-3.208-1.986-3.208-3.925
		c0-0.016,0-0.031,0-0.049c0.541,0.3,1.157,0.479,1.813,0.5c-1.073-0.717-1.779-1.941-1.779-3.331c0-0.731,0.197-1.42,0.542-2.011
		c1.972,2.421,4.921,4.014,8.246,4.18c-0.068-0.293-0.104-0.598-0.104-0.911c0-2.209,1.791-4,4-4c1.148,0,2.189,0.485,2.92,1.263
		c0.91-0.18,1.768-0.513,2.541-0.969c-0.299,0.934-0.935,1.717-1.758,2.211c0.809-0.096,1.58-0.311,2.297-0.629
		C27.361,12.688,26.684,13.394,25.902,13.957z" />
              </g>
            </svg>
          </div>
          <div class="media-icon">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g>
                <g>
                  <path d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192c88.352,0,160-71.648,160-160V160
			C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112V160C48,98.24,98.24,48,160,48
			h192c61.76,0,112,50.24,112,112V352z" />
                </g>
              </g>
              <g>
                <g>
                  <path d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128S326.688,128,256,128z M256,336
			c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80C336,300.096,300.096,336,256,336z" />
                </g>
              </g>
              <g>
                <g>
                  <circle cx="393.6" cy="118.4" r="17.056" />
                </g>
              </g>

            </svg>
          </div>
          <div class="media-icon"><svg height="512pt" viewBox="0 0 512 512" width="512pt"
              xmlns="http://www.w3.org/2000/svg">
              <path d="m224.113281 303.960938 83.273438-47.960938-83.273438-47.960938zm0 0" />
              <path
                d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm159.960938 256.261719s0 51.917969-6.585938 76.953125c-3.691406 13.703125-14.496094 24.507812-28.199219 28.195312-25.035156 6.589844-125.175781 6.589844-125.175781 6.589844s-99.878906 0-125.175781-6.851562c-13.703125-3.6875-24.507813-14.496094-28.199219-28.199219-6.589844-24.769531-6.589844-76.949219-6.589844-76.949219s0-51.914062 6.589844-76.949219c3.6875-13.703125 14.757812-24.773437 28.199219-28.460937 25.035156-6.589844 125.175781-6.589844 125.175781-6.589844s100.140625 0 125.175781 6.851562c13.703125 3.6875 24.507813 14.496094 28.199219 28.199219 6.851562 25.035157 6.585938 77.210938 6.585938 77.210938zm0 0" />
            </svg></div>
        </div>
      </div>
    </div>
  </div>

</section>